<div class="container py-4">
  <div class="p-3 text-bg-dark rounded-3">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-8">
          <p class="fw-semibold">Hi, my name is</p>
          <h1 class="display-5 fw-bold">Prashanth</h1>
          <h1 class="display-5 fw-semibold">I build things for the web.</h1>
          <br>
          <p class="fs-4">I’m a senior software engineer specializing in building exceptional digital experiences.
            Currently, I’m focused on building accessible, customer-centered applications.</p>
        </div>
        <img class="col-md-4 img-fluid object-fit-cover" src="./../../assets/img/dp.jpeg" />
      </div>
    </div>
  </div>
</div>