<div class="container-fluid p-5 text-bg-dark bg-gradient">
    <div class="row">
        <h1 class="fw-normal">I create beautiful responsive websites, Yes I am a UX geek !</h1>
        <p class="">I am an experienced Front End Developer with a focus on HTML5, CSS and JavaScript. I am driven to continuously introduce new technology that makes life a little easier and more enjoyable.</p>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <h1 class="fw-normal">I am Prashanth Anem, a FULL Stack Developer & Web developer</h1>
        <p class="fs-6 fst-italic fw-normal">Hello, I am a freelance web developer located in Ajax, Canada and take projects from India and overseas. I also provide complete enterprise solutions, SEO and other software related development.
            I have been in close heart-touch with Object Oriented Programming and great user interfaces. I love to curate clean, sophisticated designs to tailor an amazing experience for the user. I am a 28-year-old engineering graduate who loves to engage, discover, invent and create things in coherence with thoughts.</p>
      <div class="col-lg-3">
        <img class="img-fluid img-thumbnail rounded mb-4" src="./../../assets/img/comp_pro.jpg" width="300" height="200"/>
        <h4 class="fw-normal">COMPETITIVE PROGRAMMER</h4>
        <p class="fs-6 fst-italic fw-light">I have been programming for 7 years and have participated in various online and offline programming contests. I am proficient in languages such as JavaScript, Python.</p>
      </div>
      <div class="col-lg-3">
        <img class="img-fluid img-thumbnail rounded mb-4" src="./../../assets/img/web_dev.jpg" width="300" height="200"/>
        <h4 class="fw-normal">WEB DEVELOPER</h4>
        <p class="fs-6 fst-italic fw-light">I'm a web developer with experience in Angular, React, Node Js and SAP UI5. I've worked on projects ranging from small business websites to e-commerce platforms.</p>
      </div>
      <div class="col-lg-3">
        <img class="img-fluid img-thumbnail rounded mb-4" src="./../../assets/img/full_stack.jpg" width="300" height="200"/>
        <h4 class="fw-normal">FULL STACK DEVELOPER</h4>
        <p class="fs-6 fst-italic fw-light">I have a strong foundation in both front-end and back-end development and have experience working with databases and server-side development.</p>
      </div>
      <div class="col-lg-3">
        <img class="img-fluid img-thumbnail rounded mb-4" src="./../../assets/img/car.jpg" width="300" height="200" />
        <h4 class="fw-normal">TRAVELLER</h4>
        <p class="fs-6 fst-italic fw-light">I love to travel.I've had the opportunity to visit many amazing places and have a passion for adventure and exploration.I enjoy immersing myself in new cultures and meeting new people.</p>
      </div>
    </div>
</div>
