<section class="container" id="resume">
    <div class="p-3 text-bg-dark bg-gradient rounded-3">
        <div class="container-fluid py-3">
            <div class="section-title">
                <h2 class="text-warning fw-bold">Resume</h2>
            </div>
            <div class="row resume">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Prashanth Anem</h4>
                        <p><em>Innovative and deadline-driven Full Stack Developer with 10+ years of experience designing
                                and
                                developing web applications from initial concept to final, polished deliverable.</em>
                        </p>
                        <p></p>
                        <ul>
                            <li>Ajax, Toronto, CA</li>
                            <li>(647) 637-0554</li>
                            <li>prashanthanem&#64;gmail.com</li>
                        </ul>
                        <p></p>
                    </div>
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Technology</h4>
                        <h5>2011 - 2015</h5>
                        <p><em>JNTUKUCEV, AP, IND</em></p>
                        <p>I completed graduation from Jawaharalal Nehru Technological University Kakinada, University
                            College of Engineering, Viziangaram in the field of Information Technology.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Senior / Lead Developer</h4>
                        <h5>2019 - 2024</h5>
                        <p><em>TCS, Toronto, CA </em></p>
                        <ul>
                            <li>Lead the design, development, and implementation of e-commerce web applications.</li>
                            <li>Utilized Reactive programming and model-driven development to create
                                scalable and responsive web applications.</li>
                            <li>Collaborated in 100% of Agile environment projects, utilizing Atlassian
                                tools like Jira and Confluence for project management and documentation.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Developer</h4>
                        <h5>2015 - 2019</h5>
                        <p><em>TCS, Chennai, IND</em></p>
                        <ul>
                            <li>Delivered multiple business critical applications to client’s Order Management and Store
                                Platform.</li>
                            <li>Worked on the performance analysis of the application under heavy load using Dynatrace
                                and
                                implemented solutions to improve the performance metrics.</li>
                            <li>Mentored other developers by reviewing code, pair programming.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>