<section id="resume" class="resume section-show text-white">
    <div class="container-fluid p-5">
        <div class="section-title text-center">
            <h2>Resume</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Prashanth Anem</h4>
                    <p><em>Innovative and deadline-driven Full Stack Developer with 7+ years of experience designing and
                            developing web applications from initial concept to final, polished deliverable.</em></p>
                    <p></p>
                    <ul>
                        <li>Ajax, Toronto, CA</li>
                        <li>(647) 637-0554</li>
                        <li>prashanthanem@gmail.com</li>
                    </ul>
                    <p></p>
                </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Technology</h4>
                    <h5>2011 - 2015</h5>
                    <p><em>JNTUKUCEV, AP, IND</em></p>
                    <p>I completed graduation from Jawaharalal Nehru Technological University Kakinada, University
                        College of Engineering, Viziangaram in the field of Information Technology.</p>
                </div>
                <div class="resume-item">
                    <h4>High School</h4>
                    <h5>2009 - 2011</h5>
                    <p><em>Aditya Junior College, AP, IND</em></p>
                    <p>I completed high school from Aditya Junior College, Kakinada, Andhra Pradesh (MPC)</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior / Lead Front End Developer</h4>
                    <h5>2019 - Present</h5>
                    <p><em>TCS, Toronto, CA </em></p>
                    <ul>
                        <li>Lead the design, development, and implementation of e-commerce web applications.</li>
                        <li>Delegate tasks to the 5 members of the development team and provide counsel on all aspects
                            of the
                            project.</li>
                        <li>Supervise the assessment of all development activities in order to ensure quality and
                            accuracy of
                            the design.</li>
                        <li>Implemented Lazy loading, Web and Service Workers to reduce the bundle sizes and improve
                            performance.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Front End Developer</h4>
                    <h5>2015 - 2019</h5>
                    <p><em>TCS, Chennai, IND</em></p>
                    <ul>
                        <li>Delivered multiple business critical applications to client’s Order Management and Store
                            Platform.</li>
                        <li>Worked on the performance analysis of the application under heavy load using Dynatrace and
                            implemented solutions to improve the performance metrics.</li>
                        <li>Worked on Angular elements implementation and integrated into non-angular applications.</li>
                        <li>Mentored other developers by reviewing code, pair programming.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="featurette-divider">