<nav class="navbar navbar-expand-md navbar-dark fixed-top px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><p class="fs-2">Prashanth_anem</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active fs-4" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" routerLink="/skills" routerLinkActive="active">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" routerLink="/resume" routerLinkActive="active">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>